.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #000000;
}
.navbar-head{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3rem;
    transition: 0.5s;
}
.navbar-head:hover{
    color: #d4af37;
}

.menu-bars{
    margin-right: 3rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background: rgba(0, 0, 0, 0.9);
    width: 200px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 2s;
}

.nav-menu.active{
    right: 0;
    transition: 1s;
}

.nav-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 30px;
}

.nav-text a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    transition: 0.5s;
}

.nav-text a:hover{
    text-decoration: underline;
    color: #d4af37;
}

.nav-items{
    width: 100%;
}

.navbar-toggle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
}

#burger-menu{
    color: #fff;
    transition: 0.5s;
}
#burger-menu:hover{
    text-decoration: underline;
    color: #d4af37;
}

span{
    margin-left: 16px;
}