@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home */
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url(./Components/images/home/home-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  height: 95vh;
}

.home-elements{
  margin-top: 5%;
  transition: 3s;
}
.home-elements:hover{
  color: #d4af37;
}
.home-elements h1{
  font-size: 3rem;
}
.home-elements p{
  width: 720px;
  
}
.home-elements span{
  font-weight: bold;
}

/* Insurance */
.insurance{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: #000000;
  transition: 3s;
}
.insurance:hover{
  color: #d4af37;
}
.insurance-head{
  font-size: 35px;
  margin-bottom: 5px;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 5%;
}

#icon{
  padding: 5px;
  border-radius: 50%;
  font-size: 60px;
  background-color: #000000;
  transition: 2s;
}
#icon:hover{
  background-color: #d4af37;
}

.box h4{
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.box p{
  width: 320px;
  color: #999999;
}
.box button{
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  border: 2px solid #d4af37;
  color: #d4af37;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 1s;
}
.box button:hover{
  background-color: #d4af37;
  color: #fff;
}

/* Finding */
.finding{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
  color: #fff;
}

.finding-text{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-evenly;
}

.left{
  transition: 3s;
}
.left:hover{
  color: #d4af37;
}
.left h1{
  width: 500px;
}
.left p{
  width: 500px;
}

.right{
  background-color: #d4af37;
  padding: 50px 20px 10px 20px;
  transition: 3s;
}
.right:hover{
  color: #000000;
}
.right h2{
  font-weight: bolder;
  font-size: 20px;
}
.right p{
  width: 500px;
  margin-bottom: 25px;
}

.images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3%;
  margin-bottom: 50px;
}
.images img{
  height: 200px;
  width: 300px;
  cursor: pointer;
  filter: blur(1.5px);
}
.images img:hover{
  filter: blur(0px);
}
/* BestCompanies */
.best-companies{
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #fff;
}

.companies-tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 3s;
}
.companies-tags:hover{
  color: #d4af37;
}
.companies-tags h1{
  font-weight: bold;
  font-size: 52px;
}
.companies-tags h1 span{
  font-style: italic;
  margin: 0;
}
.companies-tags h4{
  font-size: 30px;
  margin-top: 20%;
}
.companies-tags h4 span{
  color: #d4af37;
  margin: 0;
}

.companies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
.companies-text{
  transition: 3s;
}
.companies-text:hover{
  color: #d4af37;
}
.companies-text h3{
  font-size: 30px;
}
.underlined{
  width: 450px;
  text-decoration: underline;
  font-size: 20px;
}
.colored{
  background-color: #d4af37;
  width: 450px;
  padding: 10px;
  transition: 3s;
}
.colored:hover{
  color: #000000;
}
.normal{
  width: 450px;
}

.companies img{
  height: 410px;
  width: 410px;
  border-radius: 50%;
  margin-top: 5%;
  cursor: pointer;
  filter: blur(1.5px);
  transition: 1s;
}
.companies img:hover{
  filter: blur(0px);
}

/* Contact */
.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #000000;
  color: #fff;
  height: 60vh;
}
.contact-text{
  transition: 3s;
}
.contact-text:hover{
  color: #d4af37;
}
.contact-text p{
  width: 450px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}
.contact-form input{
  background-color: transparent;
  color: #fff;
  padding: 10px 12px;
  font-size: 17px;
  font-weight: bold;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
}
.contact-form textarea{
  background-color: transparent;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 10px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
}
.contact-form button{
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  border: 2px solid #d4af37;
  color: #d4af37;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 1s;
  margin-top: 20px;
  width: 125px;
}
.contact-form button:hover{
  background-color: #d4af37;
  color: #fff;
}

#social{
  color: #d4af37;
  font-size: 24px;
  margin-top: 15px;
  margin-right: 15px;
  transition: 1s;
}
#social:hover{
  color: #fff;
}

/* Responsive Design */

/* Portrait */
@media only screen and (max-width: 900px) {
  /* Home */
  .home{
    height: 70vh;
  }
  .home-elements h1{
    font-size: 25px;
  }
  .home-elements p{
    width: 365px;
    font-size: 15px;
  }

  /* Insurance */
  .box{
    margin-bottom: 20px;
  }

  /* Finding */
  .left h1{
    font-size: 35px;
    text-align: center;
    width: 300px;
  }
  .left p{
    width: 300px;
    font-size: 14px;
  }

  .right h2{
    font-size: 35px;
    text-align: center;
  }
  .right p{
    width: 330px;
    text-align: center;
  }

  .images img{
    margin-top: 25px;
  }

  /* BestCompanies */
  .best-companies{
    text-align: center;
  }
  .companies-tags h1{
    font-size: 30px;
  }
  .companies-tags h4{
    font-size: 20px;
  }

  .companies-text p{
    width: 300px;
  }

  .companies img{
    height: 275px;
    width: 275px;
  }

  /* Contact */
  .contact{
    height: 120vh;
  }
  .contact-text{
    text-align: center;
  }
  .contact-text p{
    width: 300px;
  }

  .contact-form textarea{
    width: 300px;
  }
}