@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home */
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url(./Components/images/home/home-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  height: 95vh;
}

.home-elements{
  margin-top: 5%;
  transition: 3s;
}
.home-elements:hover{
  color: #d4af37;
}
.home-elements h1{
  font-size: 3rem;
}
.home-elements p{
  width: 720px;
  
}
.home-elements span{
  font-weight: bold;
}

/* Insurance */
.insurance{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: #000000;
  transition: 3s;
}
.insurance:hover{
  color: #d4af37;
}
.insurance-head{
  font-size: 35px;
  margin-bottom: 5px;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 5%;
}

#icon{
  padding: 5px;
  border-radius: 50%;
  font-size: 60px;
  background-color: #000000;
  transition: 2s;
}
#icon:hover{
  background-color: #d4af37;
}

.box h4{
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.box p{
  width: 320px;
  color: #999999;
}
.box button{
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  border: 2px solid #d4af37;
  color: #d4af37;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 1s;
}
.box button:hover{
  background-color: #d4af37;
  color: #fff;
}